{% extends 'base.html.twig' %}


{% block body %}
<h1>Productos</h1>
	<ul>
		{% for producto in listaproducto %}
			<li>{{producto.nombre}} - {{producto.nombre}} - {{producto.categoria}}</li>
		{%endfor%}
	</ul>

{{dump(listaproducto)}}
{{dump(producto.categoria)}}
<p><a href="{{path('producto_nuevo')}}">Añadir producto</a></p>
{% endblock %}
