{% extends 'base.html.twig' %}

{% block body %}

<h1>Personas</h1>
	<ul>
		{% for persona in vectorpersonas %}
			<li>{{persona.nombre}} - {{persona.edad}} - {{persona.telefono}} - {{persona.ciudad}}</li>
		{%endfor%}
	</ul>

{{ form_start(formulario) }}
{{ form_widget(formulario) }}
{{ form_end(formulario) }}


{% endblock %}
